body{
    margin: 0;
    padding: 0;
    font-family: Metropolis;
    background: rgb(226, 16, 16);
}

.box{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background: white;
    text-align: center;
}

.box h1{
    color: rgb(226, 16, 16);
    text-transform: uppercase;
    font-weight: 500;
}

.box input[type="text"], .box input[type="Password"]{
    font-family: Metropolis;
    border: 0px;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid rgb(150, 150, 150);
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
}

.box input[type="text"]:focus, .box input[type="Password"]:focus{
    width: 280px;
    border: 2px solid rgb(226, 16, 16);
}

.box button{
    font-family: Metropolis;
    border: 0px;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid rgb(266, 16, 16);
    padding: 14px 40px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.box button:hover{
    background: rgb(226, 16, 16);
    color: white;
}

.box a{
    font-size: 10;
    font-weight: 500;
    color: #690e0c;
    text-decoration: none;
    transition: 0.25s;
}

.box a:hover{
    color:rgb(226, 16, 16);
}

.loggedin{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background: white;
    text-align: center;
}

.loggedin h1{
    color: rgb(226, 16, 16);
    text-transform: uppercase;
    font-weight: 500;
}